@model NewRentCar.Models.CarModel

<div class="row justify-content-center align-items-center w-100 h-100">
<div class="bg-primary panel-body"><h2>A new car was added</h2></div>

<table class="table table-bordered table-striped">
    <tr><th>ID:</th><td>@Model.CarID</td></tr>
    <tr><th>Brand:</th><td>@Model.Brand</td></tr>
    <tr><th>Model:</th><td>@Model.Model</td></tr>
    <tr><th>Color:</th><td>@Model.Color</td></tr>
    <tr><th>Seats:</th><td>@Model.Seats</td></tr>
    <tr><th>NumberPlate:</th><td>@Model.NumberPlate</td></tr>
    <tr><th>Is car washed:</th><td>@Model.IsCarWashed</td></tr>
    <tr><th>Rent price:</th><td>@Model.RentPrice</td></tr>
</table>
</div>

